SEQUENCE should be of type i32, not u32

In [`lib.rs`, line 75](https://github.com/otoxteam/web_ical/blob/ee2bbc666b4ec7a8fda884c47e0cd0da0b0467d3/src/lib.rs#L75), the field `sequence` of the structure `Events` is declared as `u32`.

However;

[Section 3.8.7.4 of RFC5545](https://datatracker.ietf.org/doc/html/rfc5545#section-3.8.7.4) says:
> Property Name:  SEQUENCE
> [...]
> Value Type:  INTEGER

[Section 3.3.8 of RFC5545](https://datatracker.ietf.org/doc/html/rfc5545#section-3.3.8) (Property Value Data Types > Integer) mentions:
> The valid range for "integer" is -2147483648 to 2147483647

...which in Rust corresponds to [i32](https://doc.rust-lang.org/stable/std/primitive.i32.html).

This causes the parsing of some of my calendars to fail when it shouldn't. I can send a micro-PR if you don't have the time to work on this.

Feel free to integrate edgarogh/web_ical@817894a24afd873f669db5bc23156b9cb7132d69.